:root {
  --background-color: #1e252b;
  --accent-color: #ff6e30;
  --white-color: #ffffff;
  --text-color: rgba(255, 255, 255, 0.55);
  --form-color: #283036;
}
body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1254px;
  padding: 0 15px;
  outline: 2px dashed red;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.header {
  padding-top: 26px;
  margin-bottom: 107px;
}
.header-logo {
  font-weight: 600;
  font-size: 22px;
  color: var(--white-color);
}
.navigation-list {
  margin-left: 257px;
  margin-right: 193px;
  gap: 40px;
}
.navigation-list-item {
  font-weight: 500;
  font-size: 16px;
}
.navigation-button-list {
  gap: 69px;
}
.navigation-button-list-item {
  font-weight: 600;
  font-size: 16px;
}
.navigation-button-list-item-a:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: 12px 28px;
}
.hero {
  margin-bottom: 186px;
}
.hero-title {
  color: var(--white-color);
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 30px;
}
.span {
  color: var(--accent-color);
}
.hero-description {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 60px;
}
.hero-form {
  background-color: var(--form-color);
  border-radius: 15px;
  width: 497px;
  height: 64px;
  justify-content: center;
  align-items: center;
  margin-bottom: 107px;
}
.hero-form-img {
  margin-left: 18px;
}
.hero-input {
  background-color: transparent;
  margin-left: 13px;
  border: none;
}
.hero-form-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 8px;
  width: 130px;
  height: 48px;
  border: none;
  margin-left: 111px;
  margin-right: 11px;
}

.social_media_list {
  gap: 8px;
}
.section_with_gigant_list{
  margin-bottom: 200px;
}
.section_with_gigant_list-title {
  font-weight: 500;
  font-size: 48px;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 24px;
}
.section_with_gigant_list-description {
  text-align: center;
  margin-bottom: 92px;
}
.popular_tools-list{
  margin-bottom: 100px;
}
.popular_tools-list-item {
  flex-basis: calc((100% - 48px) / 3);
  padding: 32px;
  width: 392px;
height: 294px;
}
.popular_tools-list-item:hover {
  border-radius: 15px;
  background-image: linear-gradient(
      to right,
      rgba(40, 48, 54, 0.6),
      rgba(40, 48, 54, 0.6)
    ),
    radial-gradient(
      circle at top right,
      rgba(255, 110, 48, 0.6) 1%,
      transparent 20%
    );
    width: 392px;
    height: 294px;
}
.popular_tools-list-item-title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.78);
}
.popular_tools-list-item-under_title {
  font-weight: 400;
  color: rgba(255, 165, 55, 0.55);
  margin-bottom: 30px;
}
.popular_tools-list-item-description {
  font-weight: 400;
  margin-bottom: 30px;
}
.popular_tools-list-item-image-folder{
  margin-right: 124px;
}
.popular_tools-list-item-button {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  border-radius: 8px;
  width: 106px;
  height: 42px;
}
.section_with_gigant_list-button {
  color: var(--accent-color);
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  width: 184px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.section_idk-title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 62px;
  padding-bottom: 55px;
}
.section_newcomer_tools{

}
.section_newcomer_tools-title {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.9);
}
.section_newcomer_tools-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 8px;
  width: 198px;
  height: 58px;
}
.section_newcomer_tools-list-item-title {
  color: rgba(255, 255, 255, 0.78);
}
.section_newcomer_tools-list-item-undertitle {
  color: rgba(255, 165, 55, 0.55);
}
.section_newcomer_tools-list-item-description {
  font-weight: 400;
  font-size: 14px;
}
.section_newcomer_tools-list-item-button {
  color: var(--text-color);
  background-color: var(--background-color);
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.popular_tools-list {
  gap: 24px;
  flex-wrap: wrap;
}
.popular_tools-list-item-image-folder{
  margin-left: 12px;
}
.popular_tools-list-item-image {
  margin-left: 34px;
  margin-right: 30px;
  margin-bottom: 34px;
}
.popular_tools-list-item-image-heart {
  background-color: var(--background-color);
  border: none;
}
.popular_tools-list-item-image-heart::before {
  display: inline-block;
  content: "";
  background-image: url(../images/heart_gray.svg);
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  background-color: var(--background-color);
}
.popular_tools-list-item-image-heart:hover::before {
  display: inline-block;
  content: "";
  background-image: url(../images/heart_red.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 42px;
  background-color: var(--background-color);
}
.popular_tools-list-item:hover .popular_tools-list-item-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 8px;
}
.popular_tools-list-item:hover .popular_tools-list-item-title {
  color: var(--white-color);
}
.popular_tools-list-item:hover .popular_tools-list-item-under_title {
  color: #ffa537;
}
.popular_tools-list-item:hover .popular_tools-list-item-description {
  color: rgba(255, 255, 255, 0.78);
}
.section_with_gigant_list-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 1px solid black;
}
.section_with_form-title {
  color: var(--white-color);
  font-size: 48px;
}
.section_with_form-form {
  background-color: var(--form-color);
  border-radius: 15px;
}
.section_with_form-input {
  background-color: transparent;
}
.section_with_form-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 8px;
}
.man_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_with_men-wraper {
  display: flex;
}
.section_with_men-description {
  width: 393px;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.01em;
  font-family: "Roboto", sans-serif;
}
.section_idk{
  background-image: linear-gradient(
      to right,
      rgba(40, 48, 54, 0.6),
      rgba(40, 48, 54, 0.6)
    ),
    radial-gradient(
      circle at top left,
      rgba(255, 110, 48, 0.6) 1%,
      transparent 20%
    );
    border-radius: 25px;
    width: 1224px;
    height: 253px;
    margin-bottom: 200px;
}
.logos-list{
gap: 108px;
padding-left: 82px;
padding-right: 82px;
}
/*
    font-family: "Roboto", sans-serif;
    font-family: "Lora", serif;
    font-family: "Poppins", sans-serif;
  } */
.footer-logo {
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-description {
  font-weight: 400;
  font-size: 14px;
}
.footer-list-item-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-list-item-list-item {
  font-size: 16px;
}

/* .hero-form {
  background-color: var(--form-color);
  border-radius: 15px;
}
.hero-input {
  background-color: transparent;
}
.hero-form-button {
  color: var(--white-color);
  background-color: var(--accent-color);
} */
.section_newcomer_tools-list-item:hover
  .section_newcomer_tools-list-item-title {
  color: var(--white-color);
}
.section_newcomer_tools-list-item:hover
  .section_newcomer_tools-list-item-undertitle {
  color: #ffa537;
}
.section_newcomer_tools-list-item:hover
  .section_newcomer_tools-list-item-description {
  color: var(--white-color);
}
